#game-container {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 4rem;   
}

.row {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}
/** ======================  TITLE  ================================= **/
.title {
    width: 100%;
    height: 20%;
    color: #fff;
    font-weight: 900;
    font-size: 12vw;
    text-align: center;
    font-family: 'Wallpoet', cursive;
}
/** ======================  YOU WON  =============================== **/
.win {
    width: 80%;
    height: 80%;
    margin:auto;
    position: fixed;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    background-color: rgb(236, 5, 4); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
}

span{
	margin: 15px 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}
.letter{    
	display: inline-flex;
	height: 30px;
	width: 27px;
	/* border: 2.5px solid #FF1EAD; */
	border: 3.35px solid white;
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);

	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin: 10px 15px; }
	70%,100%{ margin: 5px 5px; }
}
@keyframes letter {
	0%,30%{ height: 27px; }
	70%,100%{ height: 30vw; }
}

/** ======================  CARDS  ================================= **/

.scene {
    width: 20%;
    height: 60%;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }

.card__face--front {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/trollface.png");
    border: solid 0.8px white;
}

.card__face--back {
    background: white;
    transform: rotateY(180deg);
}

/* ==== display back face ==== */
.back1,
.back2,
.back3,
.back4,
.back5,
.back6 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.back1 {

    background-image: url("../images/cringe.jpg");
}

.back2 {
    background-image: url("../images/girlcar.jpeg");
}

.back3 {
    background-image: url("../images/gneee.png");
}

.back4 {
    background-image: url("../images/harold.jpg");
}

.back5 {
    background-image: url("../images/smartguy.jpg");
}

.back6 {
    background-image: url("../images/trump.jpg");
}

